/* Custom Fonts */
@font-face {
  font-family: 'GT Walsheim Pro Light';
  src: url('/fonts/GTWalsheimPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Thin and Light versions */ 
@font-face {
  font-family: 'GT Walsheim Pro Thin';
  src: url('/fonts/GTWalsheimPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Light';
  src: url('/fonts/GTWalsheimPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face { 
    font-family: 'GT Walsheim Pro Regular';
    src: url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Medium';
  src: url('/fonts/GTWalsheimPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Bold';
  src: url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Black';
  src: url('/fonts/GTWalsheimPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Condensed versions */ 
@font-face {
  font-family: 'GT Walsheim Pro Condensed Thin';
  src: url('/fonts/GTWalsheimPro-CondensedThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed Light';
  src: url('/fonts/GTWalsheimPro-CondensedLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed Regular';
  src: url('/fonts/GTWalsheimPro-CondensedRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed Medium';
  src: url('/fonts/GTWalsheimPro-CondensedMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed Bold';
  src: url('/fonts/GTWalsheimPro-CondensedBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Condensed Black';
  src: url('/fonts/GTWalsheimPro-CondensedBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* GTSuperDisplay-* */ 

/* Bold, BoldItalic, Light, LightItalic, Medium, MediumItalic, Regular, RegularItalic, SuperItalic */ 
@font-face {
  font-family: 'GT Super Display Bold';
  src: url('/fonts/GTSuperDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Bold Italic';
  src: url('/fonts/GTSuperDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Light';
  src: url('/fonts/GTSuperDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Light Italic';
  src: url('/fonts/GTSuperDisplay-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Medium';
  src: url('/fonts/GTSuperDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Medium Italic';
  src: url('/fonts/GTSuperDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Regular';
  src: url('/fonts/GTSuperDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Regular Italic';
  src: url('/fonts/GTSuperDisplay-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Super Display Super Italic';
  src: url('/fonts/GTSuperDisplay-SuperItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* gt-america-bold, light-italic, light, medium, regular-italic, regular */ 
@font-face {
  font-family: 'GT America Bold';
  src: url('/fonts/gt-america-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Light Italic';
  src: url('/fonts/gt-america-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Light';
  src: url('/fonts/gt-america-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Medium';
  src: url('/fonts/gt-america-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Regular Italic';
  src: url('/fonts/gt-america-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Regular';
  src: url('/fonts/gt-america-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* If you have other weights of the font, add them here */