---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
import { SITE, LOGO_IMAGE } from "../config";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <div class="footer-container">
    <div class="footer-content">
      <Hr noPadding />
      <div class="footer-wrapper">
        <Socials centered />
        <div class="copyright-wrapper">
          <span>Copyright &#169; {currentYear} IRL: Interaction Research Lab </span>
          <span class="separator">&nbsp;|&nbsp;</span>
          <span>All rights reserved.</span>
        </div>
        <div class="logo-wrapper">
        {
          LOGO_IMAGE.enable ? (
            <img
              src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
              alt={SITE.title}
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
            />
          ) : (
            SITE.title
          )
        }
        </div>
      </div>
    </div>
  </div>
</footer>
